/* Custom CSS for modal animations */
.transition-opacity {
    transition: opacity 0.3s ease-in-out;
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.modal-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.modal-content {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Internet Explorer, Edge, and others */
.modal-content {
    -ms-overflow-style: none;
    /* Hide scrollbar for Internet Explorer and Edge */
}